######################################
############# PATHS ##################
######################################

workDir=/Users/avashnagovender/Development/pupillometry_analysis
dataDir=/Users/avashnagovender/Development/pupillometry_analysis/data/nancy_sus
experimentDir=/Users/avashnagovender/Development/pupillometry_analysis/experiments/nancy_sus

######################################
############# PARAMS FOR PREPROCESSING #################
######################################

experiment_name=nancy_sus
nsubjects=3          #Number of participants
blocks=6            #Number of blocks
trials=20             #Number of trials in each block
practicetrials=5            #Trials in Block 1
samplingFreq=500
downsamplingFreq=50
discardTrial=[1,2,3,21,22,23,41,42,43,61,62,63,81,82,83]  #Trials to exclude
file_pattern=p              #pattern of file eg. p1
file_extension=xlsx #Extension for input to preprocessing

######################################
############# PARAMS FOR DEBLINKING #################
######################################

missing_data_symbol=.
blink_threshold=0.2 #20%
max_trial_duration=7 #in seconds
start_blink_onset=50 #number of samples
end_blink_offset=80 #number of samples
exclusion_list=/Users/avashnagovender/Development/pupillometry_analysis/data/nancy_sus/exclude.txt #exclude file list

############# DEBLINKING FLAGS #################
plotting=FALSE #plot at samplingFreq
downsample=TRUE #downsample data

############# PROCESSING FLAGS #################
PREPROCESSING=TRUE
DEBLINKING=TRUE
AVERAGING=TRUE

